<div class="grid-container">
    <br>
    <h1>ABOUT NEXT ANNUITY</h1>
    <hr>
    <br>
    <div class="quote-inline-wrap">
        <div class="quote-inline-marks">“</div>

    </div>
    <h5>
        Next Annuity brings you the most accurate and up to date annuity quotes and comparisons available on the
        internet.
    </h5>
    <h5>
        The online annuity industry is filled with dozens of companies all doing the same thing. They pretend to offer
        you an immediate annuity quote online, but in reality they provide no quote and instead call back with a
        salesman trying to sell you an annuity. Unfortunately, the annuities with the highest commissions to the broker,
        are generally the worst investments. Sadly, those big commissions are coming out of your investment.
    </h5>
    <h5>
        Here at Next Annuity we focus on giving you the tools to help you decide what annuity is best for you. Our
        proprietary algorithm searches for the most up to date annuity quotes, based on the information you provide, and
        we provide all of that back to you at the click of a button, free of cost! No phone number needed, no email, no
        BS. It's about time annuities we brought into the 21st century. Next Annuity is here to serve all your annuity
        research needs. Take a look around, compare rates, and make the investment that is right for you.
    </h5>
    <div class="center-div">
        <img class="round" src="/images/dr-headshot.jpeg">
        <div class="padding-left">
            <h3>David Ribner</h3>
            <h5>- Founder & CEO</h5>
        </div>
    </div>
</div>