<div class="grid-container">
    <br>
    <h1>Annuity Basics</h1>
    <hr>
    <br>
    <div class="quote-inline-wrap">
        <div class="quote-inline-marks">“</div>

    </div>
    <h5>
        Having a nice, fat pension by the time you’re 62 and 1/2 is a pretty rare set-up now-a-days, considering many,
        if not all, private sector jobs do not offer any type of pension that will completely cover your costs upon
        retirement.
    </h5>
    <h5>
        Therefore, those in the private sector workforce must take it upon themselves to secure their retirement. Unless
        they want to be 75 years old and still working 40 hours a week, millennials especially need to start thinking
        about investing now if they ever want to retire.
    </h5>
    <h5>
        With a seemingly endless variety of investment options, many people choose to create what is called an annuity.
    </h5>
    <h5>
        An annuity allows you to invest a certain amount of money now and, depending on the type of annuity, that money
        will grow and then be paid out to you in equal payments (every month, quarter or year) for a certain period of
        time; or you can start receiving payments at retirement and will collect them until you die.
    </h5>
    <h5>
        But there are a multitude of safe, long-term financial devices, such as CD’s and savings accounts, which can
        accomplish the same goal. However, the reason many are flocking to annuities can be summed up in one word:
        taxes.
    </h5>
    <h5>
        When creating a tax-deferred annuity, one of the main types of annuities, you don’t pay taxes on your money as
        it grows. Therefore, the interest compounds regularly on a larger base, since taxes are not constantly being
        taken away from your investment. Of course taxes are taken out when you start receiving payments, but, still,
        your money has grown much larger because the taxes have been deferred. And unlike other un-taxed retirement
        investments like 401ks or Roth IRA’s, a tax-deferred annuity does not have a contribution cap; the amount you
        can contribute to your annuity is limitless.
    </h5>
    <h5>
        In the case of your death, money in your annuity can also be a huge benefit for your loved ones. As long as you
        have designated your beneficiaries, when you die, the money in your annuity is not stuck in probate and your
        beneficiaries can access it immediately.
    </h5>
    <h5>
        So it’s no surprise that many are looking toward annuities to ensure their money is growing as much as it
        possibly can and that their retirements are secure. But with the increasing demand comes the flood of different
        services that can appear daunting to anybody that isn’t a professional financial advisor.
    </h5>
    <h5>
        But in choosing a financial advisor, many investors can find it difficult to know whether their financial
        advisor is favoring their commission over customer service. If dealing with a variable annuity, some people may
        find their annuity is significantly underperforming because their financial advisor’s policies are focused more
        on increasing their own bottom line and less on the investor’s best interests.
    </h5>
    <h5>
        So be sure to do your research. But before you start shopping around for an annuity you just need to nail down a
        few important figures.
    </h5>
    <ul class="larger-ul">
        <li>Do you have a spouse? If so, you may likely be considering a joint annuity.</li>
        <li>Is ensuring your money covers you until you pass the priority, or is it more important to have the piece of
            mind that your money will go to your beneficiaries? If the latter is true you may be interested in a period
            certain or cash refund annuities.
        </li>
        <li>How much are you looking to invest, or conversely, how much income will you need to receive per month from
            the annuity?
        </li>
    </ul>
    <h5>
        Take some thought and answer these questions. When you are done, you can visit our annuity calculator to get
        annuity quotes based on your individual needs. Also feel free to visit our contact page, where we can connect
        you with an experienced annuities broker who can advise you on the different options.
    </h5>
    <br>
    <div class="center-div">
        <img class="round" src="/images/dr-headshot.jpeg">
        <div class="padding-left">
            <h3>David Ribner</h3>
            <h5>- Founder & CEO</h5>
        </div>
    </div>
</div>