<div class="grid-container">
    <br>
    <h1>CONTACT</h1>
    <hr>



    <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
            <h3>Get In Touch</h3>
            <hr>
            <iframe width=100% height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=APIKEY
&q=109+South+Fifth+Brooklyn,+NY" allowfullscreen>
            </iframe>
            <br>
            <h5><i class="fi-home"></i> 109 S. 5th St. New York, NY 11249</h5>
            <br>
            <h5><i class="fi-telephone"></i> (617) 622-5635</h5>
        </div>

        <div id="question-form" class="medium-6 cell">
            <h3>Mail Us</h3>
            <hr>
            <div class="medium">
                <label>Email
                    <input name="email" type="email" placeholder="email">
                </label>
            </div>
            <div class="cell">
                <label>Name
                    <input name="name" type="text" placeholder="name">
                </label>
            </div>
            <div class="cell">
                <label>Question / Comment
                    <textarea name="question" rows="4"></textarea>
                </label>
            </div>
            <div class="cell">
                <button id='submit-question' type="button" class="primary button submit-button">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send It&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>

</div>
<br>
<br>