<div class="grid-container">
    <br>
    <h1>Should I wait for higher interest rates before buying an Annuity?</h1>
    <hr>
    <br>
    <div class="quote-inline-wrap">
        <div class="quote-inline-marks">“</div>

    </div>
    <h5>
        One of the questions I’m frequently asked is “should I wait for higher interest rates before purchasing an
        annuity.” We’ve been in a relatively low interest rate environment since the beginning of the millennium, and
        rates on 10-year US Treasury Bonds have been below 4% for the past 10 years. The current rate on the 10-
        year Treasury bond is around 3% and the potential upside is limited. The Federal Reserve has held rates low
        since the recession to stimulate the economy. Now that the US economy has improved and unemployment is
        low the Fed has begun increasing short term rates, however, there is considerable resistance to raising interest
        rates. Concerns about the weakness of the global economy, the strength of the US dollar and the stability of
        the US stock market may dampen or even put an end to further increases in short term rates by the Fed. In
        addition there is significant political pressure to maintain low rates in the US. The truth is no one can
        predict
        which way interest rates are going and they are as likely to go down as they are to go up.
    </h5>
    <h5>
        So back to the original question, “should I wait … before buying an annuity,” well, as just mentioned, rates
        could go down as easily as they could go up and even if they go up they probably won’t go up very much. So
        suppose rates did go up, what’s the impact on the payout of an annuity? Well since an annuity is actually
        paying back a portion of your principal in addition to accrued interest, the monthly payment doesn’t depend
        entirely on the interest rate. Depending on your age at time of purchase, an annuity is only loosely dependent
        on interest rates. For example an increase of rates from 3% to 4%, which as mentioned earlier, is very
        unlikely, would only increase the monthly payment, for a 70 year old man, from $627 to $687 (all examples
        are for a principal of $100,000). In other words, a 33% increase in interest rates only increases the payment
        by 9.5%. Conversely, a drop in rates from 3% to 2% would decrease the monthly payment by 9.3% from
        $627 to $569. So the potential gains are not great and are comparable to the size of a potential loss.
    </h5>
    <h5>
        A large number of highly-rated insurance companies compete in the annuity marketplace and the interest
        rates paid on annuities are consequently very attractive compared to other interest bearing products.
        Insurance companies typically price annuities at interest rates somewhere above the yield of the 30-year
        Treasury bond and below the rate on 30-year mortgages. Insurance companies invest premiums from annuity
        sales in very conservative assets such as investment grade corporate bonds, structured securities and
        treasuries. Part of the reason an annuity offers such a high interest rate is because they are funded by a large
        pool of customers with random life expectancies. The premiums from annuitants who die before their normal
        life expectancy help cover the payments to annuitants who are still living. This phenomenon is known as
        mortality credits. Interest rates on annuities are better than anything available from CDs or treasuries, and
        one
        needs to go to much lower quality securities, i.e., below investment grade to get equivalent rates as a result
        of
        mortality credits.
    </h5>
    <h5>
        In view of the favorable rates inherent with annuities, waiting before buying an annuity can actually cost you
        more than any potential gain from a higher interest rate. For example, suppose a 65 year old man waits for 5-
        years for a better rate before buying an annuity and invests his principal somewhere else while he waits. If he
        bought an annuity at age 65, he would get a monthly payment of $545 assuming a 3% annuity interest rate. It
        turns out that the man would need to get an interest rate of at least 5.1% on his principal while he waits to
        match the $545 monthly payment and still have enough money left to buy an annuity at age 70 with the same
        monthly payments. This 5.1% rate is well above what’s currently available with investment grade options. If
        the man realistically invests in a 5 year treasury bond he will only get a yield of 2.6% and after 5 years his
        remaining principal after paying himself the $545 monthly payments will only be $79,000. If he buys an
        annuity with this amount at 3%, his monthly payments will drop to $495. In order to come out even, he will
        need to have annuity rates increase to 4.05%. The advantage of buying now instead waiting is another
        consequence of the mortality credits inherent with annuities.
    </h5>
    <h5>
        So in summary, no one really knows which way interest will go and if they go up, will you be decisive
        enough to invest before they drop. History of the last 10 years and the current economic climate argue against
        any significant moves in interest rates and annuities are somewhat desensitized to interest rates since

        payments are comprised of principal and interest instead of interest alone. Annuities are offered by a host of
        highly-rated insurance companies that employ conservative investment practices for premiums and annuity
        interest rates are significantly higher than what is available with other investment options of comparable risk.
        In addition, delaying in the purchase of an annuity can lead to winding up with a lower rate or a smaller
        principal to invest. If you are otherwise ready to invest, my advice is to go ahead and purchase an annuity
        now instead of waiting. If you are still hesitant, then I suggest taking a gradual approach and split your
        principal into 3 or 4 portions and invest 1 portion in an annuity every year while hoping for better rates with
        the remaining funds.
    </h5>
    <br>
    <div class="center-div">
        <img class="round" src="/images/dr-headshot.jpeg">
        <div class="padding-left">
            <h3>David Ribner</h3>
            <h5>- Founder & CEO</h5>
        </div>
    </div>
</div>