<div class="grid-container">
    <br>
    <h1>Why equity-indexed annuities and variable annuities are a scam</h1>
    <hr>
    <br>
    <div class="quote-inline-wrap">
        <div class="quote-inline-marks">“</div>

    </div>
    <h5>
        A basic annuity is a relatively simple product, that can make a lot of sense for the majority of Americans who
        are planning for retirmenet. You pay down a lump sum, which is called a premium, and in return you get monthly
        payments. To complicate things slightly there are two major variations of an annuity.
    </h5>
    <ul class="larger-ul">
        <li>Immediate annuities. With an immediate annuity you will start to receive payments immediately after you
            purchase the product.</li>
        <li>Deferred annuities. Instead of receiving the payments immediately, you choose a specific date, several years
            later, to start receiving your annuity payments. By waiting several years before receiving payments, your
            premium (the initial lump sum) will have grown due to compound interest, so the payments that you will
            receive will be larger than with an immediate annuity. </li>
    </ul>
    <h5>
        Beyond those two basic options things can get more complicated. I will introduce the two most common variations
        you’ll see on the market.
    </h5>
    <ul class="larger-ul">
        <li>Variable annuities. With this type of annuity the future payments made out to you can grow or decrease based
            on sub accounts that you invest into (either stocks or bonds). If the stocks or bonds in the subaccount go
            up in value (i.e. the stock goes up, or the interest rates go up) then the payments to you will increase.
        </li>
        <li>Equity-indexed annuities. This is similar to a variable annuity. The important distinction is that the
            payments can go up if the stock market goes up, but they cannot go down beyond a predetermined minimum
            payment. You can think of this as a variable annuity with extra security.
        </li>
    </ul>
    <h5>
        The variable annuities and equity-indexed annuities sound pretty neat, but don’t be fooled! If something sounds
        too good to be true, then it probably is, and this holds true for variable and equity indexed annuities. Simpler
        annuities are very easy to compare when shopping. Company A is offering me payments of $800 per month and
        company B is offering $812. The products are clear and therefore competitive. These more complicated annuities
        are harder to compare for the annuity shopper. This allows the insurance companies and the agents selling the
        annuity products to overcharge. On many of these more complex annuities, the commission paid to the agent can be
        well over 5%! Although you will never see a bill for the commission (the insurance company pays it directly to
        the agent), it is still coming out of your returns. The general rule of thumb is simpler is better with
        annuities.
    </h5>
    <br>
    <div class="center-div">
        <img class="round" src="/images/dr-headshot.jpeg">
        <div class="padding-left">
            <h3>David Ribner</h3>
            <h5>- Founder & CEO</h5>
        </div>
    </div>
</div>